/*section*/ 
.section{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	
	border: 20px;

}


.section{
	font-size: 26px;
	font-weight: 300;
	padding: 130px 50px 0px 30px;
	line-height: 1;
	color: #333;
	font-family:segoe script;
}

.section_text{
	font-size: 22px;
	font-family: Tahoma,verdana,sans-serif;
	color: #333;
	border: 20px;
	padding: 5px 100px;
}

.section1{
	width: 76%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	border: 0px;


}

.section1 h2{
font-family:segoe script;
}

.section1_header{
	font-size: 26px;
	font-weight: 300;
	margin:  0px auto;
	padding: 10px auto;
	line-height: 1;
	color: #333;
	font-family:segoe script;
}

.section1_text{
	font-size: 22px;
	font-family: Tahoma,verdana,sans-serif;
	color: #333;
	border: 20px;
padding: 0px 0px 50px 0px;
	text-align: center;
}