/*section*/ 
.section{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	
	border: 20px;

}


.section_header{
	font-size: 26px;
	font-weight: 300;
	padding: 130px 50px 0px 30px;
	line-height: 1;
	color: #333;
	font-family:segoe script;
	text-align: center;
}

.section_text li{
	font-size: 22px;
	font-family: Tahoma,verdana,sans-serif;
	justify-content: left;
	color: #333;
	border: 20px;
	padding: 0px auto;
}

.section_text  h5{
	
	font-family: Tahoma,verdana,sans-serif;
	justify-content: left;
	color: #333;
	border: 20px;
	padding: 0px auto;
}

.section_text  h5 img{
  	width: 35px;
  	height: 35px;
  	margin-right: 430px;
  	
  }